<div class="col-lg-12">

  <div class="container col-lg-2">

    <app-sidenav></app-sidenav>

  </div>

  <div class="container col-lg-10">

    <h1>Graficos Dinamicos <small>Angular</small></h1>
    <hr>

    <app-linea></app-linea>
    <hr>

    <app-barras></app-barras>
    <hr>

    <app-dona></app-dona>
    <hr>

    <app-radar></app-radar>
    <hr>

    <app-pie></app-pie>
    <hr>

    <app-polararea></app-polararea>
    <hr>

    <app-burbujas></app-burbujas>
    <hr>

    <app-scatter></app-scatter>
    <hr>

    <app-dinamica></app-dinamica>
    <hr>

    <app-weather></app-weather>
    <hr>

    <app-weather2></app-weather2>
    <hr>

  </div>

</div>